/* body */

body {
    background-color: #65a0bf;
}

/* navbar */

.navbar {
    background-color: #65a0bf;
    margin: 0px 200px;
}

.navbar-brand {
    color: white;
    width: 125px;
}

.nav-item{
    text-align: right;
}

/* section */

.container {
    
    width: 500px;
    margin-top: 100px;
    text-align: center;
}

h1 {
    color: white;
    margin-bottom: 40px;
    font-family: Roboto;
}

p {
    color: lightgray;
    font-family: Roboto;
    font-weight: 900;
}

.button2 {

    margin-top: 45px;
    border-radius: 30px;
    border : none;
    padding: 18px;
    width: 220px;
    color : #868A88;
    font-size:smaller; 
}